/* ---------- root variables ---------- */
:root {
  --background-dark: rgb(30,30,30);
  --top-color: linear-gradient(to right, crimson, crimson, #720000);
  --green: crimson;
  --light-green: rgb(10,10,10);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
}

/* ---------- spinner --------------- */
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid crimson;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
/* Carrausel */


.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.example-one-header {
    border-radius: 3px;
}

.nav-item {
    padding: 1em 1.2em 1em 1.2em;
    margin-top: 2.87em;
    color: #999;
}

.nav-item:hover {
    color: white;
    cursor: pointer;
}

.caractive {
    color: #fff;
}

.nav-item {
    text-align: left;
    padding-top: 1.7em;
    padding-bottom: -2em;
    font-size: 1.1em;
    text-transform: uppercase;
}

.nav-item,
.vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
}

.scroll::-webkit-scrollbar {
    display: none;
}



/* ---------- general styling ---------- */
html {
  color: var(--text-color-light);
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

body {
  background-color: rgb(30,30,30);
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

img {
  max-width: 100%;
  width: 100%;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-image: var(--top-color);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: var(--light-green);
  color: var(--text-color-light);
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--background-dark);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

.trailer_yt {
  width: 100% auto;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}
@media only screen and (min-width: 1000px) {
 #forside {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2%;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;

  }

  /*
 .grid-posters{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
*/
  article {
    display: grid;
    background-color: white;
    color: black;
  }
